/*
*
Header & Nav
*
*/

header #logo { /* LOGO */
  width: 33rem;
  margin-right: 15px;
  margin-left: 15px;
  grid-area: logo;
  display: block;
}

.menu-toggle { /* All toggle buttons */
  display: block;
  width: 30px;
  height: 30px;
  padding: 15px;
  cursor: pointer;
  background-origin: content-box;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

#menu-open {
  background-image: url("assets/hamburger.svg");
  transition: opacity 300ms;
}

#menu-close-desktop {
  background-image: url("assets/left.svg");
  display: none;
  position: absolute;
  top: 0;
  right: 0;
}

#menu-close-mobile {
  background-image: url("assets/x.svg");
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}

header {
  position: sticky;
  background-color: #fff;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 60px;
  margin-left: auto;
  transition: width 300ms;

  display: grid;
  grid-template-columns: 50px auto 50px;
  grid-template-rows: 60px;
  grid-template-areas: "open logo .";


  align-items: center;
  align-content: center;
  justify-content: space-between;
}

nav {
  height: 100%;
  width: 100%;
  left: -100%;
  position: fixed;
  top: 0;
  transition: left 300ms;
  border-right: 1px solid #b4b4b455;
  background-color: #fff;
  z-index: 2;
  display: flex;
  flex-flow: column nowrap;
  padding: 60px 15px;
  box-sizing: border-box;
}

nav a {
  text-decoration: none;
  font-size: var(--XL);
  margin: 3px 0;
  color: var(--f1);
}

nav a:hover {
  color: var(--ac);
}

nav .nav-social {
  display: flex;
  width: 100%;
  max-width: 360px;
  padding: 25px 0;
  flex-flow: row wrap;
  box-sizing: border-box;
  justify-content: space-around;
  align-items: center;
  bottom: 0;
  left: 0;
}


/*
*
Main & Gallerey
*
*/

main {
  margin-bottom: 200px;
  width: 100%;
  margin-left: auto;
  transition: width 300ms;
}

.gallery {
  margin-top: -5px;
  padding: 0 10px;
  box-sizing: border-box;
  justify-content: flex-start;
  display: flex;
  flex-flow: row wrap;
}

.card {
  font-size: 0;
  margin: 5px;
  display: inline-block;

  width: calc((100% - 30px) / 3);
  min-width: 300px;
  max-width: max(50%, 900px);
  flex-grow: 1;
}

.card div, .card a {
  display: block;
  width: 100%;
  height: 0;
  padding-top: 56.25%;
  background-color: #b4b4b4;
}

.jumbo {
  width: calc(100% - 10px);
  max-width: 100%;
}

.jumbo div, .jumbo a {
  padding-top: 40vh;
}

.big {
  width: calc((100% - 20px) / 2);
}

#toggle {
  display: none;
}


#toggle:checked ~ nav {
  left: 0;
}



@media (min-width: 1000px) {
  nav {
    width: 240px;
    left: -240px;
  }

  #menu-close-desktop {
    display: block;
  }

  #menu-close-mobile {
    display: none;
  }

  #toggle:checked ~ header #menu-open {
    opacity: 0;
    cursor: default;
  }

  #toggle:checked ~ nav {
    left: 0;
  }

  #toggle:checked ~ main {
    width: calc(100% - 240px);
  }

  #toggle:checked ~ header {
    width: calc(100% - 240px);
  }

  nav a {
    font-size: var(--L);
  }
}
